* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.font {
  font-family: "Montserrat", sans-serif; }

.header {
  position: sticky;
  top: 0px;
  z-index: 1; }

#footer {
  width: 100%;
  height: 25vh;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-around;
  z-index: 0; }

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20%;
  height: 100%;
  text-align: left;
  align-items: initial; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%; }

.copyright {
  display: flex;
  text-align: left;
  margin: 0 150px 0 0; }

.redes {
  background-color: white;
  border-radius: 8px;
  /* margin-right: 50px; */
  display: flex;
  gap: 8px; }

.card-button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  padding: 8px; }
  .card-button:hover {
    background-color: #e7e7e7; }

.card-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%; }

#categorias {
  display: grid;
  width: 100%;
  height: 400vh;
  grid-template-columns: 100%;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: "camperas" "buzos" "remeras" "pantalones"; }

.card-camperas {
  grid-area: camperas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/background-campera.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transition: 0.5s;
  z-index: 0; }
  .card-camperas:hover {
    transform: scale(0.98); }

.card-buzos {
  grid-area: buzos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/background-buzo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transition: 0.5s;
  z-index: 0; }
  .card-buzos:hover {
    transform: scale(0.98); }

.card-remeras {
  grid-area: remeras;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/background-remera.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transition: 0.5s;
  z-index: 0; }
  .card-remeras:hover {
    transform: scale(0.98); }

.card-pantalones {
  grid-area: pantalones;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/background-pantalon.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transition: 0.5s;
  z-index: 0; }
  .card-pantalones:hover {
    transform: scale(0.98); }

.subtitle-principal {
  display: flex;
  width: 100vw;
  color: black;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid black 2px;
  text-align: center;
  justify-content: center;
  justify-items: center; }

.container-products {
  display: grid;
  width: 100vw;
  flex-wrap: wrap;
  max-width: 1200px;
  max-height: 330vh;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 100%;
  gap: 20px;
  align-content: flex-start;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: repeat 3, 1fr;
  grid-template-areas: "card card card" "card card card" "card card card"; }
  .container-products .card-product, .container-products .card-allproducts-subtitle, .container-products .card-price {
    display: grid;
    grid-area: auto;
    background-color: #c7c7c7;
    color: black;
    border-radius: 12px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 5%; }
  .container-products .card-img {
    display: grid;
    max-width: 100%;
    max-height: 100%; }
  .container-products .card-product {
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s; }
    .container-products .card-product:hover {
      transform: scale(1.05); }

#section-ubicacion {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/images/buzo2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.ubicacion-titulo-principal {
  display: flex;
  font-size: 8vh;
  color: white;
  border-bottom: solid white 2px;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%; }

.sucursales {
  display: flex;
  flex-direction: row;
  color: white;
  list-style: none;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 50px; }
  .sucursales .ubicacion-titulo-principal {
    display: flex;
    font-size: 8vh;
    color: white;
    border-bottom: solid white 2px;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%; }
  .sucursales .menu-ubicacion {
    list-style: none;
    line-height: 30px; }

#section-contacto {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  grid-template-rows: 5, 1fr;
  grid-template-areas: "titulo" "datos" "parrafo" "dondecontactar" "aceptar";
  width: 100%;
  height: 70vh;
  color: white;
  align-items: center;
  align-content: center;
  line-height: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/images/buzo1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.formulario-contacto {
  padding-left: 2%; }
  .formulario-contacto .titulo {
    grid-area: titulo; }
  .formulario-contacto .datos {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    grid-area: datos; }
  .formulario-contacto .parrafo {
    grid-area: parrafo; }
  .formulario-contacto .dondecontactar {
    grid-area: dondecontactar; }
  .formulario-contacto .aceptar {
    grid-area: aceptar; }

@media screen and (min-width: 320px) {
  /* #header {
        display: flex;
        flex-direction: column;
    } */
  .newsletter {
    display: none; } }

@media screen and (min-width: 720px) {
  /* #header {
        display: flex;
        flex-direction: row;
    } */
  .newsletter {
    display: flex; } }

/*  Media Querie Ubicacion */
@media screen and (max-width: 620px) {
  .datos {
    max-width: 70%; } }

/* Media Querie Contacto */
@media screen and (max-width: 750px) {
  .card-button {
    padding: 0px;
    margin-bottom: 6px; } }

/* Media Querie Todos Los Productos */
@media screen and (max-width: 500px) {
  .container-products {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 9, 1fr;
    grid-template-areas: "card" "card"  "card" "card" "card" "card" "card" "card" "card"; }
  #footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 0px;
    position: absolute;
    top: 1195%; }
  .copyright {
    margin-right: 0px;
    margin-bottom: 10px; } }
