#footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $primary;
    display: flex;
    color: $primary;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
    height: 100%;
    text-align: left;
    align-items: initial;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.copyright {
    display: flex;
    text-align: left;
    margin: 0 150px 0 0;
}

.footer__rrss {
    display: flex;
    gap: 10px;

    // mapa
    $iconSocialMedia: (
      twitter: #55acee,
      instagram: #c92d8f,
      facebook: #2279e4,
    );

    // bucle
    @each $nameSocialMedia, $colorIcon in $iconSocialMedia {
      .rs-#{$nameSocialMedia} {
        color: black;
        font-size: 30px;
        transition: 0.5s;

        &:hover {
          color: $colorIcon;
        }
      }
    }
}