@media screen and (min-width: 320px){
    .newsletter {
        display: none;
    }
}

@media screen and (min-width: 720px){
    .newsletter {
        display: flex;
    }
}

/*  Media Querie Ubicacion */

@media screen and (max-width: 620px) {
    .datos {
        max-width: 70%;
    }
}

/* Media Querie Contacto */

@media screen and (max-width: 750px) {
    .card-button {
        padding: 0px;
        margin-bottom: 6px;
    }
}

/* Media Querie Todos Los Productos */

@media screen and (max-width: 600px) {
    .container-products {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (9, 1fr);
    grid-template-areas: 
    "card"
    "card" 
    "card"
    "card"
    "card"
    "card"
    "card"
    "card"
    "card";}

    .section-productos {
        height: 1480vh;
    }

    #footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    .copyright {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

/* Media Querie Ubicacion */

@media (max-width: 600px) {

    #section-ubicacion {
        height: 100vh;
    }
    .sucursales {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding-top: 2rem;
    }

    .sucursal-moreno {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sucursal-moreno-subtitulo {
        display: flex;
        justify-content: center;
    }

    .sucursal-merlo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sucursal-merlo-subtitulo {
        display: flex;
        justify-content: center;
    }

    .mapa-sucursalmoreno {
        display: none;
    }

    .mapa-sucursalmerlo {
        display: none;
    }
}